In [52]:
class User():
    def __init__(self,username,name,email):
        self.username=username
        self.name=name
        self.email=email
    def __repr__(self):
        return("Username : {}, Name: {}, E-mail: {}".format(self.username, self.name, self.email))
    def __str__(self):
        return self.__repr__()

In [53]:
shraddha=User('schroddy','shraddha','shraddhakamath11@gmail.com')

In [54]:
print(shraddha)

Username : schroddy, Name: shraddha, E-mail: shraddhakamath11@gmail.com

In [55]:
shraddha.name

'shraddha'

In [67]:
class database():
    def __init__(self,users):
        if users==None:
            self.users=[]
        else:
            self.users=users
    def insert(self,user):
        for i in self.users:
            if i.username>user.username:
                break
        self.users.insert(i,user)
    def listall(self):
        return self.users

In [68]:
users=[shraddha]
our_database=database(users)

In [69]:
fruits=['apple','banana','strawberry']

In [70]:
fruits.insert(0,'abor')

In [71]:
fruits

['abor', 'apple', 'banana', 'strawberry']

In [72]:
for i in range (len(fruits)):
    if fruits[i]>'orange':
        break
print(i)
fruits.insert(i,'orange')

3

In [73]:
fruits

['abor', 'apple', 'banana', 'orange', 'strawberry']

In [74]:
print(our_database.listall())

[Username : schroddy, Name: shraddha, E-mail: shraddhakamath11@gmail.com]

In [75]:
object2=User('Rahul','Rahul Vaid','rahulvaid@gmail.com')
our_database.insert(object2)

TypeError: 'User' object cannot be interpreted as an integer

In [76]:
Akshat_object=User('aks','Akahaat','akshi@gmail.com')
Surabhi_obj=User('surabhii','Surabhi','surbhi@gmail.com')
Nancy_obj=User('Naaaannnccy','Nancy Chaudhry','nan@chaudry.com')

In [77]:
Student_List=[Akshat_object,Surabhi_obj,Nancy_obj]
for i in Student_List:
    our_database.insert(i)

TypeError: 'User' object cannot be interpreted as an integer

In [66]:
Akshat_object.username

'aks'